<div class="container">
	<h1 class="page-header">Upcoming Events</h1>


	<table id="edit-table">
		<tr>
			<td class="edit-td">
				<img class="poster" src="images/poster1.jpg" width="100px"></img>
	  			<h3><%= link_to("Let It Flow", edit_event_path, class: 'link-without-style') %></br>
	  			<small>Wednesday February 5, 2015 at 5:00PM - 8:00PM - Venable Gym</small></h3>
			</td>
			<td class="edit-td">
				<img class="poster" src="images/poster2.jpg" width="100px"></img>
              	<h3>Art Show</br><small>Friday February 7, 2015 at 6:30PM - 9:00PM - MCLA Gallery 51</small></h3></br>
			</td>
		</tr>
		<tr>
			<td class="edit-td">
				<img class="poster" src="images/poster2.jpg" width="100px"></img>
              	<h3>Art Show</br><small>Friday February 7, 2015 at 6:30PM - 9:00PM - MCLA Gallery 51</small></h3></br>
			</td>
			<td class="edit-td">
				<img class="poster" src="images/poster1.jpg" width="100px"></img>
	  			<h3>Let It Flow</br><small>Wednesday February 5, 2015 at 5:00PM - 8:00PM - Venable Gym</small></h3>
			</td>
		</tr>
	</table>

</div>