<div class="container">
<div id="event-container">        
        <div id="event-left-panel">
          
            <div class="min_HW add-edit-panel">
                <label class="label">Poster:</label>
                <input id="input-21" class="" type="file" accept="image/*" >
              
            </div> 

                
                    <div class = "">
                      <center>
                        <label class="label">Title:</label>
                        <input type="text" class="form-control" rows="1" maxlength = "75" id="title" placeholder="Enter Title here...">
                        
                        <label class ="label">Time:</label>
                        <input type="text" class="form-control" rows="1" maxlength = "75" id="time" placeholder="Enter Time here...">
                        
                        <label class = "label">Location:</label>
                        <input type="text" class="form-control" rows="1" maxlength = "75" id="location" placeholder="Enter Location here...">
                        
                      </center>
                    </div>
        </div>
        
        <div id="event-right-panel">
          <h3>-About This Event-</h3>
          <div class = "about_pane">
            <textarea class="form-control" id ="about" rows="5" placeholder="About..."></textarea>

            <label class = "label">-Optional-</label>
            <textarea class = "form-control" id = "history" rows = "5" placeholder="History or Additional Description..."></textarea>

  
        </div>
      </div>
        <p class="float-clear"></p>
</div>
      <div class="min-height-300 add-edit-panel panel panel-default">
        <div class="panel-body">
          <!-- // Show only image files for selection & preview. Control button labels, styles, 
          and icons for the browse, upload, and remove buttons. -->
          <div class="row">
            <div class="col-md-2"></div>
            
            <div class="col-md-8">  
              <input id="input-22" class="" type="file" accept="image/*" >
            </div>
            
            <div class="col-md-2"></div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            
            <div class="col-md-8">  
              <input type="text" class="form-control inline" placeholder="Title">
              <input type="text" class="form-control inline" placeholder="Artist Name">
              <div class="float-clear"></div>
              <center>
                <button class="btn btn-primary submit-button">Submit</button>
              </center>
            </div>
            
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h2 id="gallery-header" class="page-header">Current Images</h2>
          <center>
            
            <a class="fancybox" href="images/trending1.jpg" rel="group">
              <div class="img-thumbnail image-thumbnail">
                <img class="imagetag" src="images/trending1.jpg">
              </div>
            </a>
            
            <a class="fancybox" href="images/trending6.jpg" rel="group">
              <div class="img-thumbnail image-thumbnail">
                <img class="imagetag" src="images/trending6.jpg">
              </div>
            </a>
            <a class="fancybox" href="images/trending3.jpg" rel="group">
              <div class="img-thumbnail image-thumbnail">
                <img class="imagetag" src="images/trending3.jpg">
              </div>
            </a>

            <p class="float-clear"></p>
          </center>
          </div>
        </div>
