<% provide(:title, "Event Details") %>

<div id="event-container" class="container">
        
  <div id="event-left-panel">
    <center>
      <img class="poster" src="images/poster1.jpg" width="90%"></img>
      <h3>Let It Flow</br><small>Wednesday February 5, 2015 at 5:00PM - 8:00PM</br>
      Located in: Venable Gym</small></h3>
    </center>
  </div>
        
  <div id="event-right-panel">
    <h3>About This Event</h3>
    <p>Lorem ipsum dolor sit amet, debitis democritum ad vel. Eu nam erant putent temporibus, te exerci evertitur abhorreant vis. Cibo habeo neglegentur cum ad. Facete molestiae definitionem sit te, usu cetero senserit ad. Qui iusto consul laoreet eu, graecis molestie consequuntur cu qui, per at vidit sadipscing.</p>

    <p>Te dicam timeam volumus eos, eu quo quodsi mentitum. Mel an platonem ullamcorper, timeam omittam assueverit sea no. Ne vix aliquid conceptam, nibh meis ne mea, vix no assentior definiebas. Pro no delectus convenire, mei ne prompta commune conclusionemque. Ea quo nullam primis electram.</p>

    <h3>Artists Include:</h3>
    <ul>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
    </ul>

    <p>Duo te tota consul concludaturque, cu eius facete definitiones usu. In cum nostro voluptatum, rebum mediocritatem eos no. An pro epicuri repudiandae, quas mandamus voluptatum vim eu. Atqui tempor legendos in eos, omnes electram at qui, mel ut odio ancillae corrumpit. Pri ei aliquando ullamcorper. Melius consetetur mea cu. Ea nominati abhorreant eos, persius platonem electram usu ne.</p>

    <p>Appetere postulant no mea, cibo clita euismod sit ad, per tibique nominavi te. Ea eum ceteros deserunt repudiandae, in sit eligendi moderatius referrentur. Ius porro accusata liberavisse ei, cum stet accusam cotidieque no. Cu mel decore virtute labores, possim laoreet te nec. Hinc virtute insolens sit ex. Magna debitis reformidans duo an, meliore sapientem eum in.</p>
  </div>
  <p class="float-clear"></p>
</div>

  <div id="gallery" class="container panel">
    <h2 id="gallery-header" class="page-header">Image Gallery</h2>
    <center>
      
      <a href="images/trending1.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending1.jpg">
        </div>
      </a>
      
      <a href="images/trending6.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending6.jpg">
        </div>
      </a>
      <a href="images/trending3.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending3.jpg">
        </div>
      </a>
      <a href="images/trending4.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending4.jpg">
        </div>
      </a>

    <p class="float-clear"></p>

    <a href="images/trending3.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending3.jpg">
        </div>
      </a>
      
      <a href="images/trending4.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending4.jpg">
        </div>
      </a>
      <a href="images/trending5.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending5.jpg">
        </div>
      </a>
      <a href="images/trending2.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending2.jpg">
        </div>
      </a>

    <p class="float-clear"></p>

    <a href="images/trending1.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending1.jpg">
        </div>
      </a>
      
      <a href="images/trending2.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending2.jpg">
        </div>
      </a>
      <a href="images/trending3.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending3.jpg">
        </div>
      </a>
      <a href="images/trending4.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending4.jpg">
        </div>
      </a>

    <p class="float-clear"></p>

    <a href="images/trending3.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending3.jpg">
        </div>
      </a>
      
      <a href="images/trending4.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending4.jpg">
        </div>
      </a>
      <a href="images/trending5.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending5.jpg">
        </div>
      </a>
      <a href="images/trending2.jpg" rel="shadowbox[Gallery]">
        <div class="img-thumbnail image-thumbnail">
          <img class="imagetag" src="images/trending2.jpg">
        </div>
      </a>

    <p class="float-clear"></p>
    </center>
  </div>





        