<% provide(:title, "Gallery") %>

<div id="gallery" class="container panel">
  <h2 id="gallery-header" class="page-header">All Images</h2>
  <center>
    
    <a href="images/trending1.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending1.jpg">
      </div>
    </a>
    
    <a href="images/trending6.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending6.jpg">
      </div>
    </a>
    <a href="images/trending3.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending3.jpg">
      </div>
    </a>
    <a href="images/trending4.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending4.jpg">
      </div>
    </a>

  <p class="float-clear"></p>

  <a href="images/trending3.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending3.jpg">
      </div>
    </a>
    
    <a href="images/trending4.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending4.jpg">
      </div>
    </a>
    <a href="images/trending5.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending5.jpg">
      </div>
    </a>
    <a href="images/trending2.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending2.jpg">
      </div>
    </a>

  <p class="float-clear"></p>

  <a href="images/trending1.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending1.jpg">
      </div>
    </a>
    
    <a href="images/trending2.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending2.jpg">
      </div>
    </a>
    <a href="images/trending3.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending3.jpg">
      </div>
    </a>
    <a href="images/trending4.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending4.jpg">
      </div>
    </a>

  <p class="float-clear"></p>

  <a href="images/trending3.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending3.jpg">
      </div>
    </a>
    
    <a href="images/trending4.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending4.jpg">
      </div>
    </a>
    <a href="images/trending5.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending5.jpg">
      </div>
    </a>
    <a href="images/trending2.jpg" rel="shadowbox[Gallery]">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending2.jpg">
      </div>
    </a>

  <p class="float-clear"></p>
  </center>
</div>

<script type="text/javascript">
      $(document).ready(function() 
      {
        Shadowbox.init(
        {
          handleOversize: "resize",
          viewportPadding: "75px"
        });
      });

</script>