<% provide(:title, "Gallery") %>

<div id="gallery" class="container panel">
  <h2 id="gallery-header" class="page-header">All Images</h2>
  <center>
    
    <a class="fancybox" rel="group" href="images/trending1.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending1.jpg">
      </div>
    </a>
    
    <a class="fancybox" rel="group" href="images/trending6.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending6.jpg">
      </div>
    </a>
    <a class="fancybox" rel="group" href="images/trending3.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending3.jpg">
      </div>
    </a>
    <a class="fancybox" rel="group" href="images/trending4.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending4.jpg">
      </div>
    </a>

  <p class="float-clear"></p>

  <a class="fancybox" rel="group" href="images/trending3.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending3.jpg">
      </div>
    </a>
    
    <a class="fancybox" rel="group" href="images/trending4.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending4.jpg">
      </div>
    </a>
    <a class="fancybox" rel="group" href="images/trending5.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending5.jpg">
      </div>
    </a>
    <a class="fancybox" rel="group" href="images/trending2.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending2.jpg">
      </div>
    </a>

  <p class="float-clear"></p>

  <a class="fancybox" rel="group" href="images/trending1.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending1.jpg">
      </div>
    </a>
    
    <a class="fancybox" rel="group" href="images/trending2.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending2.jpg">
      </div>
    </a>
    <a class="fancybox" rel="group" href="images/trending3.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending3.jpg">
      </div>
    </a>
    <a class="fancybox" rel="group" href="images/trending4.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending4.jpg">
      </div>
    </a>

  <p class="float-clear"></p>

  <a class="fancybox" rel="group" href="images/trending3.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending3.jpg">
      </div>
    </a>
    
    <a class="fancybox" rel="group" href="images/trending4.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending4.jpg">
      </div>
    </a>
    <a class="fancybox" rel="group" href="images/trending5.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending5.jpg">
      </div>
    </a>
    <a class="fancybox" rel="group" href="images/trending2.jpg">
      <div class="img-thumbnail image-thumbnail">
        <img class="imagetag" src="images/trending2.jpg">
      </div>
    </a>

  <p class="float-clear"></p>
  </center>
</div>