<% provide(:title, "Upcoming Events") %>
<script type="text/javascript">
  Shadowbox.init(
  {
    handleOversize: "resize",
    viewportPadding: "225px"
  });
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
      <!--Sidebar content goes here -->
      <h2 id="trending-bar" class="page-header">Trending</h2>

      <a href="images/trending1.jpg" rel="shadowbox[Trending]" title="Trending Image 1"><img class="trending-thumbnail" src="images/trending1.jpg" width="90%"></a>
      <a href="images/trending2.jpg" rel="shadowbox[Trending]" title="Trending Image 2"><img class="trending-thumbnail" src="images/trending2.jpg" width="90%"></a>
      <a href="images/trending3.jpg" rel="shadowbox[Trending]" title="Trending Image 3"><img class="trending-thumbnail" src="images/trending3.jpg" width="90%"></a>
      <a href="images/trending4.jpg" rel="shadowbox[Trending]" title="Trending Image 4"><img class="trending-thumbnail" src="images/trending4.jpg" width="90%"></a>
      <a href="images/trending5.jpg" rel="shadowbox[Trending];width=760;height=475;" title="Trending Image 5"><img class="trending-thumbnail" src="images/trending5.jpg" width="90%"></a>
      
    </div>
    <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main main-event-panel">
      <h1 class="page-header">Upcoming Events</h1>
        
        <div class="event-div">
          <table id="event-table">
          <tr>
            <td class="event left"><img class="poster" src="images/poster1.jpg" width="400px"></img></td>
            <td class="event right">
              <h3><%= link_to("Let It Flow", event_path, class: 'link-without-style') %></br><small>Wednesday February 5, 2015 at 5:00PM - 8:00PM - Venable Gym</small></h3></br>
              <p>Lorem ipsum dolor sit amet, debitis democritum ad vel. Eu nam erant putent temporibus, te exerci evertitur abhorreant vis. Cibo habeo neglegentur cum ad. Facete molestiae definitionem sit te, usu cetero senserit ad. Qui iusto consul laoreet eu, graecis molestie consequuntur cu qui, per at vidit sadipscing.</p>

              <p>Te dicam timeam volumus eos, eu quo quodsi mentitum. Mel an platonem ullamcorper, timeam omittam assueverit sea no. Ne vix aliquid conceptam, nibh meis ne mea, vix no assentior definiebas. Pro no delectus convenire, mei ne prompta commune conclusionemque. Ea quo nullam primis electram.</p>
            </td>
          </tr>
          </table>
        </div>  

        <div class="event-div">
          <table id="event-table">
          <tr>
            <td class="event left"><img class="poster" src="images/poster2.jpg" width="400px"></img></td>
            <td class="event right">
              <h3>Art Show</br><small>Friday February 7, 2015 at 6:30PM - 9:00PM - MCLA Gallery 51</small></h3></br>
              <p>Lorem ipsum dolor sit amet, debitis democritum ad vel. Eu nam erant putent temporibus, te exerci evertitur abhorreant vis. Cibo habeo neglegentur cum ad. Facete molestiae definitionem sit te, usu cetero senserit ad. Qui iusto consul laoreet eu, graecis molestie consequuntur cu qui, per at vidit sadipscing.</p>

              <p>Te dicam timeam volumus eos, eu quo quodsi mentitum. Mel an platonem ullamcorper, timeam omittam assueverit sea no. Ne vix aliquid conceptam, nibh meis ne mea, vix no assentior definiebas. Pro no delectus convenire, mei ne prompta commune conclusionemque. Ea quo nullam primis electram.</p>
            </td>
          </tr>
          </table>
        </div>
      
      </div>
    </div>
  </div>

  <script type="text/javascript">
			$(document).ready(function() 
			{
				$('.footer').addClass("margin-left-home");
        $('#debug-console').attr('id', 'console-margin');
			});
  </script>

