@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#navbar-link
{
	color: white;
}
#navbar-link:hover
{
	color: #DDD;
}
.link-without-style
{
	text-decoration: none;
	color: #222;
}
.link-without-style:hover
{
	text-decoration: none;
	color: #555;
}
.link-without-style:active
{
	text-decoration: none;
}
.link-without-style:visited
{
	text-decoration: none;
}
#trending-bar
{
	margin-top: 0px;
	padding-top: 0px;
}
.event
{
	padding: 20px;
}
.left
{
	
}
.right
{
	width: 60%;
	vertical-align: top;
}
.trending-thumbnail
{
	margin-bottom: 7%;
	margin-left: 5%;
}
.poster
{
	
}
.event-table
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.event-div
{
	margin-bottom: 20px;
	border-bottom: 1px solid #DDD;
}
.main-event-panel
{
	padding-bottom: 3px;
}
#footer-div
{
	float: right;
}
.image-thumbnail
{
	max-width: 400px;
	max-height: 300px;
}
#event-container
{
	border-bottom: 2px solid #DDD; 
	margin-top: 10px;
}
#event-left-panel
{
	float: left;
	width: 40%;
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	min-height: 500px;
	border-right: 2px solid #DDD;
}
#event-right-panel
{
	float: left;
	width: 60%;
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	min-height: 500px;
}

.temp-border
{
	border: 1px solid black;
}
.float-clear
{
	margin: 0px;
	padding: 0px;
	clear: both;
}
#gallery
{
	border: 1px solid #DDD;
	width: 96%;
	margin-top: 20px;
	padding-left: 50px;
	margin-left: 2%;
	margin-right: 2%;
}
#gallery-header
{
	margin-top: 10px;
}
.image-thumbnail
{
	float: left;
	background-color: #EEE;
	height: 210px;
	margin-right: 1%;
	margin-bottom: 15px;
}
.image-thumbnail:hover
{
	-webkit-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 2px 2px 2px #888;
}
.imagetag
{
	max-height: 200px;
	max-width: 100%;
    position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
#Artlogo
{
	width:290px;
	height:50px;
}
.about_pane
{
	height:200px;
	margin:25px;
	margin-top:15px;
}
#about
{
	resize:none;
	background-color:#1E1E1E;
	color:white;

}
.history_pane
{
	margin:25px;
	margin-top:0px;
}
#history
{
	resize:none;
	background-color:#1E1E1E;
	color:white;

}
#title
{
	margin-top:10px;
	resize:none;
	background-color:#1E1E1E;
	color:white;
}
#time
{
	margin-top:10px;
	resize:none;
	background-color:#1E1E1E;
	color:white;
}
#location
{	
	margin-top:10px;
	resize:none;
	background-color:#1E1E1E;
	color:white;
}
.label
{
	margin-top:15px;
	position:center;
	font-size:15px;
	color:black;
}
.min-height-300
{
	min-height: 300px;
}
.add-edit-panel
{
	padding: 10px;
}
.inline
{
	float: left;
	width: 50%;
}
.submit-button
{
	width: 25%;
}
.min_HW
{
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	min-width:400px;
}
/* footer */

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  margin-left: 20px;
  margin-right: 20px;
}
.margin-left-home
{
	margin-left: 20%;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
#debug-console
{
	clear: both;
	margin: 20px;
}
#console-margin
{
	clear: both;
	margin: 20px;
	margin-left: 20%;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.float-left
{
	float: left;
}
#edit-table
{
	width: 100%;
}
.edit-td
{
	padding: 10px;
	border: #DDD 1px solid;
}